body {
  background-color: #dae3e7;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  /* width: 200px; */
  border-bottom: 1px solid #ccc;
}

li a:hover {
  background: #f6f6f6;
}

.repo {
  font-weight: bold;
}

.issue {
  padding-left: 3em;
}